// base12
html {
  font-size: 62.5%;
  color: #313131;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  letter-spacing: 0.1em;
  line-height: 1.8;
  /* プロポーショナルメトリクスを有効にする指定 */
  font-feature-settings: "palt" 1;
}

// base22
body {
  font-size: 1.6rem;
  overflow: hidden;
  & h1.back {
    transform: rotate(-30deg);
    font-size: 10rem;
  }
}

// base35
body,
div,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
ul {
  margin: 0;
  padding: 0;
}

// base40
body {
  font-family: "Roboto", YuGothic, "游ゴシック", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    sans-serif;
}

// base43
.marugo {
  font-family: "M PLUS Rounded 1c";
}

// base47
a,
a:link,
a:active {
  text-decoration: underline;
  color: #1f398c;
  overflow: hidden;
  outline: none;
  transition: all 0.3s ease 0s;
}

// base82
ul,
ol {
  margin: 0;
  padding: 0;
}

// base89
img {
  border: 0;
  vertical-align: bottom;
}

// base124
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// base129
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

// base132
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  line-height: 140%;
}

// base136
img,
abbr,
acronym,
fieldset {
  border: 0;
}

// base139
li {
  list-style: none;
}

// base142
.center {
  text-align: center !important;
}

// base157
*,
*:before,
*:after {
  box-sizing: border-box;
}

// mb1->mb6
@for $i from 1 through 6 {
  .mb#{$i} {
    margin-bottom: 1rem * $i;
  }
}

// base181
.mb40 {
  margin-bottom: 40px;
}

// base183
.mb50 {
  margin-bottom: 50px;
}

// base185
.mb60 {
  margin-bottom: 60px;
}

// base394
.txt30 {
  font-size: 3rem;
}

// base478
.clearfix {
  &:after {
    // base474
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  display: block;
}

// base481
* {
  zoom: 1;
}
