.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.jc {
  justify-content: space-between;
}

.ai {
  align-items: center;
}

@media screen and (max-width: 1000px) {
  img {
    max-width: 100%;
    height: auto;
  }
}
header {
  background: url() bottom center no-repeat #ffa200;
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 40px;
}
header h2 {
  padding: 45px 0 40px;
  width: 40%;
}
header ul {
  width: 60%;
  text-align: right;
  line-height: 120%;
}
header ul li {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0;
  padding: 0;
}
header ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  padding-left: 16px;
}
header ul li a::before {
  content: "";
  background-image: url(../img/circle-right-regular.svg);
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 135%;
}
header ul li a:visited {
  color: #00417e;
}

@media screen and (max-width: 1000px) {
  header {
    font-size: 1.8rem;
    margin-bottom: 30px;
    text-align: center;
  }
  header h2 {
    padding: 35px 0 15px;
  }
  header ul {
    width: 100%;
    padding: 0 0 15px 0;
    text-align: center;
  }
}
.title_big02 {
  text-align: center;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.title_big02 span {
  padding: 5px 10px 10px;
  display: inline-block;
}

.tb02-02 span {
  border-bottom: 2px dashed #ffa200;
  color: #ffa200;
}

.tb03-02 {
  color: #ffa200;
}

@media screen and (max-width: 1000px) {
  .title_big01,
.title_big02,
.title_big03 {
    font-size: 18px;
  }
}
.title_middle01 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.layout_horizon {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
.layout_horizon::before {
  content: "";
  display: block;
  width: 23%;
  order: 1;
}
.layout_horizon::after {
  content: "";
  display: block;
  width: 23%;
}
.layout_horizon img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.hor03 {
  position: relative;
}
.hor03 div {
  width: 31%;
}
.hor03::before {
  content: "";
  width: 31%;
}
.hor03::after {
  content: none;
}

@media screen and (max-width: 1000px) {
  .hor03 div {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
.table02 {
  width: 100%;
}
.table02 th {
  width: 30%;
  background-color: #dceef4;
}
.table02 td {
  background-color: #fff;
}

.table02 th,
.table02 td {
  padding: 8px 8px 3px;
  vertical-align: middle;
  border: 1px solid #dfdfdf;
  font-weight: normal;
}

.title_txt {
  position: relative;
  border-bottom: 4px solid #ccc;
  margin-bottom: 12px;
}
.title_txt::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: 2;
  content: "";
  width: 20%;
  height: 4px;
  background-color: #00417e;
}
@media screen and (max-width: 1000px) {
  .title_txt::after {
    width: 40%;
  }
}

.tt_left {
  width: 20%;
  text-align: center;
}
.tt_right {
  width: 78%;
}

@media screen and (max-width: 1000px) {
  .tt_left {
    width: 40%;
  }
  .tt_right {
    width: 58%;
  }
}
.ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.ggmap iframe,
.ggmap .ggmap object,
.ggmap .ggmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top_news_right {
  width: 79%;
}

@media screen and (max-width: 1000px) {
  .top_news_right {
    width: 100%;
  }
}
.program_left {
  width: 48%;
}

.program_left {
  width: 100%;
  margin-bottom: 25px;
}

.program_right {
  width: 48%;
  text-align: center;
  position: relative;
}
.program_right::after {
  content: "";
  display: block;
  width: 46%;
}

@media screen and (max-width: 1000px) {
  .program_right {
    width: 100%;
  }
}
.md_center {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .md_center {
    text-align: left;
  }
}
.d-inline {
  display: inline !important;
}
/*# sourceMappingURL=common.css.map */